<mat-card class="card-forgot">
    <mat-card-title>Forgot my password</mat-card-title>
    <mat-card-subtitle class="pt-5">Don't worry, we'll send you an email with a verification code</mat-card-subtitle>
    <mat-card-content>
        <form class="form-login">
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-button (click)="submit()" [disabled]="!emailFormControl.valid">Send
            Email</button>
    </mat-card-actions>
</mat-card>